.announcement-bar {
    
    height: auto;
    background-color: rgba(237, 234, 234, 0.925);
    padding: 5px;
    
    
}

.announcement-bar {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.announcement-bar a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
}

.announcement-bar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.announcement-bar a:hover {
    
    color: hotpink;
}