/* .NavBar {
    text-align: center;
}

ul {
    list-style: none;
    margin-bottom: 1;
    padding: 0;    
}

li {
    display: inline;
    padding: 20px;
    
} */


.NavBar {
    display: block;  
    padding: 00;      
    margin: 00;       
    width: 100%;     
    text-align: center;
    
}

.NavBar li {
    display: inline-block; /* Get all images to show in a row */
    width: 5%;            /* Show 4 logos per row */
    text-align: center;    /* Centre align the images */
    padding: 10px;
    
}

@media (max-width: 960px) and (min-width: 501px) {
    .NavBar li { width: 100%; } 
    
}

@media (max-width: 500px) {
    .NavBar li { width: 100%; } /* On small screens, show one logo per row */
}

.NavBar a {
    text-decoration: none;
    color: #000;
}

.NavBar ul {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
}

.NavBar a:hover {
    
    color: hotpink;
  }

  
  
  

  












