/* .top-links {
    display: block;  
    padding: 0;      
    margin: 0;       
    width: 100%;     
    text-align: right;
    
}


.top-links ul {
    margin: 0;
    padding: 0;
}

.top-links img {
    width: 5%;
    height: 5%;
}



@media (max-width: 960px) and (min-width: 501px) {
    .top-links li { width: 100%; } 
    
}

@media (max-width: 500px) {
    .top-links li { width: 100%; } 
}

.top-links li {
    display:inline;
    padding: 10px 40px;
} */

.top-links {    
    overflow: hidden;
    margin-right: 70px;
   
}

.top-links img {
    height: 30px ;
    width: 30px;    
}

.top-links li {
    list-style-type:none;
    float: right;
    
    
}